html, body {
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../22.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;

}

.rounded {
    border-radius: 0.7rem !important;
}

.container {
    padding: 10px 10px 10px 10px;
}

.button-row {
    margin-top: 5rem !important;
}

#wrapper {
    min-height: 100vh;
    padding-bottom: 75px;
}

footer {
    position: absolute;
    bottom:0;
}
